name: Prev-Curr Rollback
on:
  workflow_dispatch:
jobs:
  rollback:
    runs-on: ubuntu-latest
    steps:
      - name: Rollback via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 51.250.99.137
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: 22
          script: |
            set -e
            cd version
  
            if [ ! -d SpionBot-prev ]; then
              echo "SpionBot-prev not found; aborting."
              exit 1
            fi
            rm -rf ../SpionBot
            cp -a SpionBot-prev ../SpionBot
            rm -rf SpionBot-curr
            cp -a SpionBot-prev SpionBot-curr
